<?xml version="1.0" encoding="UTF-8"?>
<!--<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>-->
    <!--<appender name="FILE" class="org.apache.log4j.ConsoleAppender">-->
        <!--&lt;!&ndash;<param name="file" value="logs/studentsApp.out"/>&ndash;&gt;-->
        <!--<param name="immediateFlush" value="true"/>-->
        <!--<param name="threshold" value="debug"/>-->
        <!--<layout class="org.apache.log4j.PatternLayout">-->
            <!--<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>-->
        <!--</layout>-->
    <!--</appender>-->
    <!--<root>-->
        <!--<level value="DEBUG"/>-->
        <!--<level value="ERROR"/>-->
        <!--<appender-ref ref="FILE"/>-->
    <!--</root>-->
<!--</log4j:configuration>-->

<Configuration status="WARN">
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
</Appenders>
<Loggers>
    <Root level="debug">
        <AppenderRef ref="Console"/>
    </Root>
</Loggers>
</Configuration>