<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	            http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	            http://www.springframework.org/schema/security
	            http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/login**" access="hasRole('ROLE_ANONYMOUS')" />
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <form-login
                login-page="/login"
                authentication-failure-url="/login?error"
                authentication-success-handler-ref="roleBasedAuthenticationSuccessHandler"
                username-parameter="email"
                password-parameter="password" />
        <logout logout-success-url="/login?logout" />
        <!-- enable csrf protection -->
        <csrf disabled="true"/>
    </http>

    <beans:bean id="roleBasedAuthenticationSuccessHandler"
                class="main.controllers.handlers.RoleBasedUrlAuthenticationSuccessHandler"/>

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query=
                                       "select email, password, enabled from userentry where email=?;"
                               authorities-by-username-query=
                                       "select email, role from user_roles where email =?;" />
        </authentication-provider>
    </authentication-manager>

</beans:beans>